# Vulnerable to ReDoS (Regular Expression Denial of Service)
Flask==0.12.2

# Vulnerable to Remote Code Execution (RCE) via YAML loading
PyYAML==3.12

# Vulnerable to CRLF injection
requests==2.19.1

# Vulnerable to XSS in templates
Jinja2==2.10
